.lista-suspensa label{
    background: none;
    display: block;
    margin-bottom: 5px;
    font-size: 18px;
    color: #f2f2f2;
    font-family: "Lexend Exa", sans-serif;
}

.lista-suspensa select{
    background-color: #fff;
    border-radius: 16px;
    border: none;
    height: 25px;
    box-shadow: 10px 10px 30px rgba(0, 0, 0, 0.06);
    font-size: 18px;
    box-sizing: border-box;
    width: 300px;
}
