.banner {
    position: fixed; /* fixa no lugar */
    top: 0; /* no topo da tela */
    left: 0;
    width: 100%; /* ocupa a largura total */

    display: flex;
    justify-content: center;
}

.banner img{
    width: 80%;
    height: 550px;
}